API_HOST=${IMAGER_API_HOST}
API_PORT=${IMAGER_API_PORT}

AVATAR_SAVE_PATH=/src/saved_figure
AVATAR_ACTIONS_URL=/var/www/gamedata/config/HabboAvatarActions.json
AVATAR_FIGUREDATA_URL=/var/www/gamedata/config/FigureData.json
AVATAR_FIGUREMAP_URL=/var/www/gamedata/config/FigureMap.json
AVATAR_EFFECTMAP_URL=/var/www/gamedata/config/EffectMap.json
AVATAR_ASSET_URL=/var/www/gamedata/clothes/%libname%.nitro
